.title {
  font-size: 32px !important;
  @media (max-width: 992px) {
    font-size: 26px !important;
  }
}
.divider {
  margin-top: 40px !important;
  margin-bottom: 24px !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
  border: 0.5px solid #bdbdbd;
}
.link {
  color: #007e8f !important;
  cursor: pointer;
  font-size: 16px;
  text-decoration-color: inherit !important;
}
.inputStyle {
  background-color: white;
}
.form {
  margin: -8px;
}

.overideContainer {
  @media (min-width: 992px) and (max-height: 720px) {
    position: relative;
    transform: scale(0.9);
    margin-right: 75px !important;
    margin-top: -100px;
    margin-bottom: unset !important;
    top: 10px;
  }
}
