.title {
  font-size: 25px;
}
.divider {
  margin-top: 40px !important;
  margin-bottom: 24px !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
  border: 0.5px solid #bdbdbd;
}
.link {
  color: #2095a9;
  cursor: pointer;
}
.inputStyle {
  background-color: white;
}
.form {
  margin: -8px;
}
