.upcomingAppointment {
  width: 1026px;
  margin: 0 auto;
  background-color: white;
  padding: 24px;
  margin-top: 115px;

  @media (max-width: 992px) {
    margin-top: 86px;
    width: 100vw;
    padding: 16px;
  }
}

.title {
  font-family: "Bw Nista Geometric DEMO" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 44px !important;
  color: #003b4a !important;

  @media (max-width: 992px) {
    font-size: 26px !important;
  }
}

.appointmentTitle {
  font-family: "Bw Nista Geometric DEMO" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 26px !important;
  line-height: 32px !important;
  display: flex;
  align-items: center;
  color: #003b4a !important;
  margin-bottom: 24px !important;

  @media (max-width: 992px) {
    font-size: 22px !important;
    margin-bottom: 16px !important;
  }
}

.upcomingAppointmentsContainer {
  margin-top: 23px;
}

.upcomingAppointmentDetail {
  padding: 24px;
  border: 2px solid #f3f3f3;
  @media (max-width: 992px) {
    padding: 16px;
  }
}

.dateContainer {
  display: flex;
  margin-bottom: 24px;

  @media (max-width: 992px) {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.addToCalendarContainer {
  margin-bottom: 48px;
  @media (max-width: 992px) {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
  }
}

.date {
  font-weight: 600 !important;
  font-size: 18px !important;
  margin-right: 81px !important;
  width: 340px;
  @media (max-width: 992px) {
    margin-right: unset !important;
    margin-bottom: 8px;
    width: unset;
  }
}

.upcomingAppointmentDetail h6 {
  font-family: "Libre Franklin" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.0016em !important;
  color: #003b4a !important;

  @media (max-width: 992px) {
    font-size: 18px !important;
  }
}

.upcomingAppointmentDetail .dateContainer p {
  font-size: 18px !important;
}

.subTitleWrapper {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.viewDetails {
  display: flex;
  margin-top: 27px;
  padding-top: 24px;
  border-top: 1px solid #d4d4d4;

  div {
    display: flex;
    gap: 16px;
  }

  @media (max-width: 992px) {
    width: auto;
    margin-left: unset;
    margin-top: unset;
    flex-direction: column;

    div {
      flex-direction: column;
      gap: 10px;
    }
  }
}

.noAppointmentTitle {
  background: #f2f7f7;
  margin-top: 23px;
  margin-bottom: 28px;
  padding: 10px;

  @media (max-width: 992px) {
    background: unset;
    border: 2px solid #f3f3f3;
    background: unset;
  }
}

.noAppointmentButtonContainer {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.noAppointmentTitleText {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #003b4a !important;

  @media (max-width: 992px) {
    font-weight: 500 !important;
    font-size: 26px !important;
    line-height: 36px;
    text-align: center;
    color: #000000 !important;
    margin: 24px;
  }
}
