@import "../../../../styles/colors.scss";

  .formButton {
    display: flex;
    justify-content: right;
    padding: 13px 20px;
    border-radius: 30px;
    font-size: 14px;
    height: 40px;
  
    &.primary {
      background-color: $primaryButton;
    }
    &.outlined {
      background-color: transparent;
      border: solid 1px $primaryButton;
      color: $primaryButton;
    }
  }

