@import "../../../../styles/colors.scss";

.formButton {
  display: flex;
  padding: 13px 20px;
  border-radius: 30px;
  font-size: 14px;
  height: 40px;
  text-decoration: none;

  &.primary {
    background-color: $primaryButton !important;
  }
  &.outlined {
    background-color: transparent !important;
    border: solid 1px $primaryButton;
    color: $primaryButton;
  }
}
