@import "../../../../styles/colors.scss";

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .label {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}
