.phoneLink {
  color: #008294 !important;
  letter-spacing: 0.0016em;
  line-height: 24px !important;
  text-decoration-color: inherit !important;
  display: block;
  text-decoration: underline;
}

.phone {
  color: #003b4a !important;
  letter-spacing: 0.0016em;
  line-height: 24px !important;
}
