@import "../../../../styles/colors.scss";

.phoneLink {
  color: #008294 !important;
  letter-spacing: 0.0016em;
  line-height: 24px !important;
  display: block;
  text-decoration: underline;
  text-decoration-color: inherit !important;
  font-family: "Museo Sans", sans-serif !important;
}

.phone {
  color: #191919 !important;
  letter-spacing: 0.0016em;
  line-height: 24px !important;
  font-family: "Museo Sans", sans-serif !important;
  font-size: 16px !important;

  &.isMap {
    color: $grayscaleBlack !important;
  }
}
