.detailedBio {
  max-width: 942px;
  margin-left: 12vw;
  padding-bottom: 80px;
  @media (max-width: 1024px) {
    width: 100vw;
    margin-left: unset;
  }
  @media (max-width: 600px) {
    margin-left: unset;
  }
}

.detailedBio > div > h3 {
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
}

.detailedBio > div p {
  line-height: 28px;
  letter-spacing: 0.0016em;
  color: #000000;

  @media (max-width: 992px) {
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
  }
}

.menu {
  margin-bottom: 4px;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
  background-color: white;
  margin-left: -12vw;
  padding-left: 12vw;

  @media (max-width: 1024px) {
    margin-left: 24px;
    margin-right: 24px;
    padding-left: unset;
    max-width: unset;
    width: unset;
  }

  @media (max-width: 600px) {
    margin-left: unset;
    width: 100vw;
  }
}

.menu hr {
  width: 942px;
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (max-width: 600px) {
    width: 100vw;
  }
}

.stickyMenu {
  margin-bottom: 24px;
  position: fixed;
  top: 0px;
  width: 100vw;
  left: 0px;
  background: white;
  padding-left: 12vw;
  border-bottom: 2px solid #d4d4d4;
  z-index: 1;
  @media (max-width: 992px) {
    top: 0px;
    padding-left: unset;
  }
}

.stickyMenuContainer {
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin: 0;
  height: 48px;
  @media (max-width: 992px) {
    gap: 44px;
    justify-content: center;
  }
  @media (max-width: 360px) {
    gap: 22px;
    justify-content: center;
  }
}

.stickyMenuContainer a {
  padding: 0 22px;
  margin: unset !important;
  @media (max-width: 992px) {
    padding: unset;
  }
}

.stickyMenuContainer a.menuTextSelected {
  padding: 0 22px;
  margin: unset !important;
  border-bottom: 2px solid #008294;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0016em;
  text-decoration: none !important;
  cursor: pointer;
  color: black !important;
  @media (max-width: 992px) {
    padding: unset;
    font-size: 12px;
    margin: unset !important;
  }
}

.menuText {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0016em;
  margin: 16px 22px !important;
  text-decoration: none !important;
  cursor: pointer;
  color: black !important;
  @media (max-width: 992px) {
    font-size: 12px;
    margin: unset !important;
  }
}

.menuContainer {
  margin: 16px 0px;
  @media (max-width: 992px) {
    gap: 44px;
    display: flex;
  }

  @media (max-width: 600px) {
    justify-content: center;
  }

  @media (max-width: 360px) {
    gap: 22px;
    display: flex;
    justify-content: center;
  }
}

.insurancesContainer {
  display: flex;
  @media (max-width: 992px) {
    margin-top: 8px !important;
  }
}

.insurancestList {
  column-count: 2;
  list-style-type: none;
  margin: unset;
  padding-inline-start: 0;
}

.insurancestList > li > p {
  line-height: 3.5;
  width: 320px;
  @media (max-width: 992px) {
    line-height: normal;
    margin: 8px 0;
    font-size: 14px;
    width: 160px;
  }
  @media (max-width: 360px) {
    width: unset;
  }
}

.newColumn {
  break-before: column;
}

.mapContainer {
  display: flex;
  @media (max-width: 600px) {
    margin-top: 8px !important;
    display: flex;
    flex-direction: column;
  }
}

.map {
  width: 516px;
  height: auto;
  min-height: 472px;
  background-color: skyblue;

  @media (max-width: 600px) {
    width: 100%;
    height: 222px;
    min-height: unset;
    margin-bottom: 8px;
  }
  @media (min-width: 601px) and (max-width: 1024px) {
    width: 496px;
    min-height: 320px;
  }
}

.mapAddressContainer {
  margin-left: 24px;
  max-width: 315px;
  flex: 1;
  @media (max-width: 600px) {
    margin-left: unset;
    width: unset;
    margin-top: 18px;
    padding-top: 18px;
  }
}

.viewAllLink {
  color: #008294 !important;
  cursor: pointer;
  text-decoration-color: inherit !important;
}

.getDirectionLinkContainer {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 8px;
}

.getDirectionLink {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0016em;
  color: #008294 !important;
  cursor: pointer;
  text-decoration-color: inherit !important;
}

.detailedBioContainer {
  @media (max-width: 600px) {
    margin: 0 16px;
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    margin: 0 24px;
  }
}

.mapAddress {
  width: 362px;
  @media (max-width: 992px) {
    width: auto;
  }
}

.educationContainer {
  @media (max-width: 992px) {
    margin-top: 0px !important;
  }
}

.addressTitle {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.0016em !important;
}

.addressWrapper {
  flex: 1;
  @media (max-width: 600px) {
    margin-top: -24px;
  }
}
