.appointmentButton {
  flex-direction: row;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #003b4a;
  border-radius: 4px;
  text-transform: capitalize;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.0016em;
  color: #008294;
}

.appointmentButton:hover {
  background: #ffffff;
  border: 1px solid #003b4a;
}

.appointmentButton > span {
  color: #003b4a;
  margin: unset;

  svg {
    font-size: 15px !important;
  }
}
