.filterTabsList {
  background-color: #f4f4f4;
  flex: 1;
  overflow: auto;
}

.tabImageContainer {
  margin-right: 8px;
  height: 14px;
  width: 14px;
}

.tabImageContainerViewAll {
  margin-right: 8px;
  height: 21px;
  width: 21px;
}

.flexDisplay {
  display: flex;

  .paddingTop22 {
    padding-top: 22px;
  }

  .glassesViewAll {
    font-family: "Bw Nista Geometric DEMO", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #205a63;
  }

  .titleText {
    font-family: "Bw Nista Geometric DEMO", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #003b4a;
    @media (max-width: 767px) {
      font-size: 18px;
    }

    @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 24px;
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 24px;
    }
  }
}

.prescriptionContent {
  padding-top: 22px;
}

.prescriptionContentMobile {
  padding-top: 6px;
}

.spaceBetween {
  justify-content: space-between;
}

.fullBox {
  width: 100%;
}

.halfBox {
  width: 50%;
  flex-basis: fit-content;
}

.quarteBox {
  width: 30%;
  @media print {
    width: 50%;
  }
}

.margin {
  margin: 16px 16px 0px 16px;
  @media (max-width: 767px) {
    margin: 8px 16px;
  }
}

.marginTop0 {
  margin-top: 0px;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginVertical {
  margin-top: 10px;
}

.viewPrescription {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  @media print {
    display: none !important;
  }
}

.viewPrescriptionText {
  color: "#008294";
  text-decoration: none !important;
  font-size: 18px;
  margin: auto 0;
  cursor: pointer;
}

.noPrescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  gap: 10px;
  min-height: 58px;
  background: #f2f7f7;
  text-align: center;
  margin: 0 16px;
  color: #003b4a;

  .normalText {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #003b4a;
  }

  .boldText {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #003b4a;
  }

  .margin {
    padding: 16px 16px;
  }
}

.containerImage {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -5.5%;
  right: 2%;
  border-radius: 100%;
  @media (max-width: 992px) {
    width: 52px;
    height: 52px;
    top: -4.5%;
  }
}

.appointmentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  @media print {
    display: none !important;
  }
}

.herfItemMenu {
  display: flex;
  align-items: center;
}

.medicationViewAllContainer {
  margin: 16px;
  padding: 16px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  .medicationIconContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 83px;
    height: 83px;

    /* ECP/Teal-5 */

    background: #eef5f7;
    border-radius: 48px;
  }
  .medicationViewAllTitleContainer {
    margin-bottom: 8px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  .medicationViewAllTitle {
    font-family: "Bw Nista Geometric DEMO", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #003b4a;
    @media (max-width: 767px) {
      margin-right: auto;
    }
  }

  .medicationViewAllStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;
    margin-right: 24px;
    width: 30%;
    background: #f4f4f4;
    border-radius: 4px;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0016em;
    color: #003b4a;
    text-transform: capitalize;
    @media (max-width: 767px) {
      width: 100%;
      justify-content: center;
      margin-right: 0px;
      margin-bottom: 4px;
    }
  }

  .medicationStatusContainer {
    width: 30%;
  }

  .medicationStatusAccordion {
    box-shadow: none;
    padding: 0px;
    width: 30%;
    background: #f4f4f4;
    margin-right: 24px;
    @media (max-width: 767px) {
      width: 100%;
      justify-content: center;
      margin-right: 0px;
    }
  }
  .medicationAccordionSummary {
    padding-left: 16px;
    font-size: 16px;
    width: 85%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .medicationStatusDescription {
    font-size: 16px;
    align-self: center;
    color: #003b4a;
  }

  .medicationViewAllTabContainer {
    gap: 24px;
    padding-top: 24px;
    flex-wrap: wrap;
  }

  .gridHeight {
    height: 40px;
    width: 30%;
    margin-right: 24px;
    @media (max-width: 834px) {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      height: auto;
      min-height: 32px;
    }
  }

  .customGridHeight {
    margin: 10px 0;
    height: 40px;
    width: 30%;
    margin-right: 24px;
    @media (max-width: 834px) {
      width: 100%;
      margin-right: 0px;
      height: auto;
      min-height: 32px;
    }
  }

  .stackContainer {
    margin-top: 15px;
    @media (max-width: 834px) {
      margin-top: 0px;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  .gridMobileExpired {
    margin-top: 24px;
  }

  .gridText {
    line-height: 40px;
    @media (max-width: 767px) {
      line-height: 32px;
    }
  }
  .customGridText {
    line-height: 20px !important;
    align-self: center;
  }

  .buttomContiner {
    margin-top: 24px;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  .remainingTimeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: auto;
    height: 48px;
    background: #f2f7f7;
    @media (max-width: 767px) {
      width: 100%;
    }

    .remainingTimeText {
      font-family: "Libre Franklin", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #003b4a;
    }
  }

  .requestButton {
    align-self: center;
    height: 36px !important;
    margin-left: auto;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    @media (max-width: 767px) {
      width: 100%;
      margin-top: 24px;
    }
  }
}

.medicationDetailContainer {
  .marginTop {
    margin-top: 32px;
  }
}

.dividerStyle {
  margin-top: 15px;
  @media (max-width: 767px) {
    margin-top: 0px;
  }
}

.filterButtonContainer {
  display: flex;
  max-width: 80%;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-self: center;
  // @media (max-width: 768px) {
  // }

  .filterBtn {
    width: 135px;
    height: 26px;
    border: 1px solid #205a63;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    justify-content: left;
    color: #003b4a;
    padding: 3px 16px;
    margin-left: 10px;
  }
}

.tuneIcon {
  color: #22292f;
  width: 16px;
  height: 16px;
}

.keydownIcon {
  position: absolute;
  left: 72%;
  color: rgba(0, 0, 0, 0.54);
}

.filterChildButton {
  background: #ffffff;
  border: 1px solid #003b4a;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 4px 3px 10px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6d6f73;
  height: 26px;
  max-width: 150px;
  margin-bottom: 10px;
  .closeIcon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
  }
  .filterText {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.formMessageText {
  color: white !important;
  font-size: 14px;
  font-weight: 400;
}

.menuItem {
  min-height: 32px;
  height: 32px;
}

.dialogActionContainer {
  padding: 16px;
  width: 100%;
  .dialogContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    .closeButton {
      width: 40%;
      height: 39px;
      margin-right: 10px;
    }
    .cancelButton {
      width: 70%;
      height: 39px;
    }
  }
}

.dialogContent {
  .dialogTypo {
    font-family: "Bw Nista Geometric DEMO", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */

    letter-spacing: 0.0016em;

    /* ECP/Primary/DarkGreen */

    color: #003b4a;
  }
  .ctaContainer {
    .butttonIconContainer {
      min-width: 15px;
      margin: 0;
      margin-left: 20px;
      padding: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
}

.getDirectionLink {
  display: flex;
  align-items: center;
  gap: 9px;
}

.getDirectionLinkText {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0016em;
  color: #008294 !important;
  cursor: pointer;
  text-decoration-color: inherit !important;
}

.tableHealthRecord {
  .butttonIconContainer {
    padding: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    min-width: 22px;
    margin: 0;
    margin: 0 10px;
  }
}

.stackContainer {
  background: #ffffff;
  border: 2px solid #ececec;
  padding: 16px 16px 0px 16px;
  margin: 16px;
  border-radius: 4px;

  .stackContentButton {
    margin-bottom: 5px;
    margin-top: 28px;
  }

  .stackContent {
    margin-bottom: 16px;
  }

  .valueStyle {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.0016em;
    color: #191919;
  }

  .titleStyle {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    letter-spacing: 0.0016em;
    color: #003b4a;
  }

  .butttonIconContainer {
    padding: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    min-width: 15px;
    margin: 0;
    margin: 0 10px;
  }

  .buttonContainer {
    margin-left: 0 !important;
  }

  .valueName {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.0016em;
    color: #191919;
    word-break: break-word;
    text-align: end;
    @media (max-width: 600px) {
      width: 60%;
    }
  }
}

.testLabContainer {
  .testLabTitle {
    margin-top: 24px;
    padding-left: 16px;
    font-family: "Bw Nista Geometric DEMO", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #003b4a;
    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .statusStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    width: 120px;
    height: 24px;
    border-radius: 100px;
  }

  .statusPending {
    background: #e8f3f9;
    color: #003b4a;
  }

  .statusComplete {
    background: rgba(15, 140, 74, 0.1);
    color: #0f8c4a;
  }

  .statusError {
    background: rgba(226, 122, 5, 0.1);
    color: #e27a05;
  }

  .statusNaturalError {
    background: rgba(123, 123, 123, 0.1);
    color: #7b7b7b;
  }
}

.hightLightContainer {
  margin-right: 16px;
  .hightLightTitle {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0016em;
    color: #003b4a;
  }

  .hightLightValue {
    font-family: "Bw Nista Geometric DEMO", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0016em;
    color: #008294;
  }
}

.hightLightContainer:nth-child(even) {
  margin-right: 0px;
}

.makePaymentContainer {
  position: absolute;
  bottom: 0px;
  @media (max-width: 700px) {
    margin-top: 16px;
    position: relative;
    width: 100%;
  }
}

.slackGridItem {
  .materialTitle {
    font-family: "Bw Nista Geometric DEMO", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #003b4a;
    margin-bottom: 16px;
  }

  .materialDate {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0016em;
    color: #575757;
    margin-bottom: 16px;
  }

  .materialDescription {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.0016em;
    color: #191919;
    margin-bottom: 16px;
  }

  .menuContainer {
    width: 104px;
    height: 40px;
    background: #f4f4f4;
    border-radius: 4px;
    margin-left: auto;

    @media (max-width: 700px) {
      width: 100%;
    }

    .menuItem {
      width: 52px;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: unset;

      @media (max-width: 700px) {
        width: 50%;
      }
    }
  }
}

.directionContent {
  @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    flex-flow: inherit !important;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    flex-flow: inherit !important;
  }
}
