.wrapper {
  background-color: #f4f4f4;
  z-index: 9;
  position: relative;
}

.backHeader {
  height: 72px;
  width: 100vw;
  max-width: 1536px;
  align-items: center;
  display: flex;
  padding-left: 24px;
  margin: 0 auto;
  @media (max-width: 992px) {
    padding-left: 21px;
    height: 58px;
  }
}

.arrowIcon {
  color: rgba(0, 0, 0, 0.54);
  width: 16px !important;
  height: 16px !important;
  margin-right: 7px;
}

.link {
  font-family: "Museo Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0016em;
  color: #007787 !important;
  text-decoration: none !important;
  cursor: pointer;
}
