.backHeader {
  background-color: #f4f4f4;
  height: 72px;
  position: absolute;
  width: 100vw;
  align-items: center;
  display: flex;
  padding-left: 12vw;
  top: 65px;
  z-index: 1;
}

.arrowIcon {
  color: rgba(0, 0, 0, 0.54);
  width: 16px;
  height: 16px;
}

.link {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0016em;
  color: #0095a9;
  text-decoration: none;
  cursor: pointer;
}
