.container {
  width: 400px !important;
  padding: 16px;
  background-color: white;
  align-self: flex-end;
  border-radius: 5px;
  margin-bottom: 32px !important;
  margin-right: 90px;
  @media (max-width: 992px) {
    max-width: 358px !important;
    width: 90vw !important;
    margin: auto;
    margin-bottom: 32px !important;
  }
  font-family: "Libre Franklin", sans-serif;
}

.componentContainer {
  max-width: 686px;
  padding-top: 40px;
  padding-left: 40px;
  @media (max-width: 992px) {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contanierPage {
  align-self: flex-end;
  @media (max-width: 992px) {
    align-self: center;
  }
}
