.container {
  width: 400px !important;
  padding: 16px;
  background-color: white;
  align-self: flex-end;
  border-radius: 5px;
  margin-bottom: 32px;
  margin-right: 90px;
  @media (max-width: 1024px) {
    max-width: 358px !important;
    width: 90vw !important;
    margin: 0 auto 20px auto;
  }

  font-family: "Museo Sans", sans-serif;
}
.registerContainer {
  width: 598px !important;
}

.componentContainer {
  max-width: 686px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  @media (max-width: 992px) {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
  }
}

.containerPage {
  align-self: flex-end;
  @media (max-width: 992px) {
    align-self: center;
  }
}

.containerStyledPage {
  align-self: flex-end;

  @media (min-width: 992px) and (max-height: 720px) {
    align-self: center;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    align-self: center;
  }

  @media only screen and (max-width: 767px) {
    align-self: center;
  }
}
