@import url('http://fonts.cdnfonts.com/css/bw-nista-geometric-demo');

.container {
    width: 400px!important;
    padding: 16px;
    background-color: white;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 32px!important;
    @media (max-width: 768px) {
      max-width: 358px!important;
      width: 90vw!important;
      margin-bottom: 32px!important;
      margin: auto;
    };
    font-Family: "Libre Franklin";
  }