@import "../../../../styles/colors.scss";

.titleText {
  font-family: "Bw Nista Geometric DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #003b4a;
  padding-bottom: 24px;
}

.testLabBox {
  width: 100%;
  background: white;
  border-radius: "4px";
  height: fit-content;
  margin-top: 56px;
  // flex: 1;
}

.headerCell {
  color: #003b4a;
  font-weight: 600;
  font-size: 14px;
  padding: "15px";
}

.bodyCell {
  padding: 15px;
  font-family: Libre Franklin;
}

.bodyCell1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.bodyCell2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.bodyCell3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.bodyCell4 {
  font-weight: 700;
  font-size: 16px;
}

.bodyCell5 {
  width: 22px;
}

.disclaimerWrapper {
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  color: #366a70;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #0288d1;
}

.noResultText {
  font-family: Bw Nista Geometric DEMO;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
}

.disclaimerText {
  word-break: break-all;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}
