.accountLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;
  overflow: hidden;

  @media (max-width: 767px) {
    padding-top: 56px;
  }

  .container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin-top: 92px;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;

    @media (max-width: 600px) {
      margin-top: 56px;
    }

    @media (min-width: 901px) and (max-width: 1200px) {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }

    .sidebarContainer {
      grid-column: span 2 / span 2;

      @media (max-width: 600px) {
        display: none;
      }

      @media (min-width: 601px) and (max-width: 900px) {
        display: none;
      }

      @media (min-width: 901px) and (max-width: 1200px) {
        grid-column: span 3 / span 3;
      }
    }

    .pageContainer {
      grid-column: span 5 / span 5;
      padding: 40px 24px;
      height: calc(100vh - 64px - 80px);
      overflow: auto;
      transition: max-height 0.5s ease-in-out;

      > section {
        max-width: 950px;
      }

      @media (max-width: 600px) {
        grid-column: span 7 / span 7;
        padding: 0;

        > section {
          max-width: unset;
        }
      }

      @media (min-width: 601px) and (max-width: 900px) {
        grid-column: span 7 / span 7;
      }

      @media (min-width: 901px) and (max-width: 1200px) {
        grid-column: span 6 / span 6;

        > section {
          max-width: 673px;
        }
      }
    }
  }
}

.infoIsShowing {
  .container {
    top: 40px;

    .pageContainer {
      height: calc(100vh - 64px - 80px - 40px);
    }
  }
}
