$maxWidth: 1536px;
$widthSidebarLink: 324px;

:export {
  widthSidebarLink: $widthSidebarLink;
}

.accountLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0px;
  overflow: hidden;

  @media (max-width: 767px) {
    padding-top: 0px;
  }

  .container {
    flex: 1;
    margin-top: 0px;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;

    display: flex;

    @media (max-width: 600px) {
      margin-top: 0px;
    }

    .maxWidthWrapper {
      max-width: $maxWidth;
      width: 100%;
      margin: 0 auto;
      display: flex;

      @media (min-width: 1536px) {
        $overflow: calc(0.5 * (100vw - $maxWidth));
        &:before {
          background-color: #f4f4f4;
          content: "";
          // width: calc(0.5 * (100vw - ($maxWidth - (0.5 * ($widthSidebarLink + 40px))))); // this width still wrong
          width: calc(
            0.67 * (100vw - $maxWidth)
          ); // idk where i found 0.67 but it works.

          margin-left: calc($overflow - (2 * $overflow));
        }
      }
    }

    .sidebarContainer {
      @media (max-width: 600px) {
        display: none;
      }

      @media (min-width: 601px) and (max-width: 900px) {
        display: none;
      }
    }

    .pageContainer {
      padding: 40px 24px;
      overflow: auto;
      transition: max-height 0.5s ease-in-out;

      background: white;
      width: 100%;

      > section {
        max-width: 950px;
      }

      @media (max-width: 600px) {
        padding: 0;

        > section {
          max-width: unset;
        }
      }

      @media (min-width: 901px) and (max-width: 1200px) {
        > section {
          max-width: 673px;
        }
      }
    }
  }
}

.infoIsShowing {
  .container {
    top: 40px;

    .pageContainer {
      height: calc(100vh - 64px - 80px - 40px);
    }
  }
}
