.authLayout {
  display: flex;
  flex-direction: column;
  background: linear-gradient(96.59deg, #003b4a 10.15%, #0389ab 140.82%);
  min-height: 100vh;
}

.authContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  //gap: 1rem; /* 16px */
  flex: 1;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column-reverse;
    flex: 0;
  }
}

.authComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 1 / span 1;
  overflow-y: auto;
  padding-top: 143px;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  @media (max-width: 992px) {
    grid-column: span 2 / span 2;
    height: unset;
    justify-content: center;
    padding-top: 35px;
  }
}

.authImageContainer {
  width: 100%;
  overflow: hidden;
  grid-column: span 1 / span 1;
  padding: 0px !important;
}
.imageBannerContainer {
  width: 100%;
  position: relative;
  object-fit: contain;
  @media (max-width: 992px) {
    height: 35vh;
    width: 100vw;
    object-fit: cover;
    border-top-left-radius: unset;
    border-bottom-left-radius: 100% 80%;
    border-bottom-right-radius: 100% 80%;
  }
}

.imageBannerContainer > span > img {
  border-top-left-radius: 100vh;
  border-bottom-left-radius: 100vh;

  position: fixed !important;
  width: 50vw !important;
  height: 110vh !important;
  right: -50vw !important;
  top: 0px !important;
  -o-object-fit: contain;
  object-fit: cover;
  min-width: unset !important;
  max-width: unset !important;
  min-height: unset !important;
  max-height: unset !important;
  object-position: center -4vh;
  @media (max-width: 992px) {
    width: 105vw !important;
    height: 29vh !important;
    right: -2.5vw !important;
    bottom: unset !important;
    position: absolute !important;
    top: 40px !important;
    left: unset !important;
    border-radius: 0;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    object-position: center -10vh;
  }
}
