.authLayout {
  display: flex;
  flex-direction: column;

  // -webkit-mask-image: radial-gradient(50% 75% at right, transparent 100%, #fff 51%);
  // mask-image: radial-gradient(50% 75% at right, transparent 100%, #fff 51%);
  background: linear-gradient(96.59deg, #003b4a 10.15%, #0389ab 140.82%);
  min-height: 100vh;
}

.authContainer {
  /* width: 100vw;
  -webkit-mask-image: radial-gradient(50% 75% at right, transparent 100%, #fff 51%);
  mask-image: radial-gradient(50% 75% at right, transparent 100%, #fff 51%);
  background: linear-gradient(140deg,#103139,#003b4a);
  position: absolute;
  left: 0;
  height: 100vh;
  display: flex; */

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem; /* 16px */
  flex: 1;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    flex: 0;
  }
}

.authComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  grid-column: span 1 / span 1;

  height: 100vh;
  overflow-y: auto;
  padding-top: 146px;

  @media (max-width: 768px) {
    grid-column: span 2 / span 2;
    height: unset;
    justify-content: center;
  }
}

.authImageContainer {
  /* width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: -1; */

  width: 100%;
  overflow: hidden;
  grid-column: span 1 / span 1;
  padding: 0px;
}
.imageBannerContainer {
  width: 100%;
  position: relative;
  object-fit: contain;
  @media (max-width: 768px) {
    height: 35vh;
    width: 100vw;
    object-fit: cover;
    border-top-left-radius: unset;
    border-bottom-left-radius: 100% 80%;
    border-bottom-right-radius: 100% 80%;
  }
}

.imageBannerContainer > span > img {
  position: fixed !important;
  width: auto !important;
  height: 100vh !important;
  right: 0 !important;
  object-fit: contain;
  min-width: unset !important;
  max-width: unset !important;
  left: unset !important;
  min-height: unset !important;
    max-height: unset !important;
  @media (max-width: 768px) {
    width: 100vw !important;
    height: auto !important;
    bottom: unset !important;
    position: absolute !important;
  }
}

// .imageBanner {
//   height: 100vh;
//   object-fit: contain;
//   border-bottom-left-radius: 25% 100%;
//   border-top-left-radius: 25% 100%;

//   @media (max-width: 768px) {
//     height: 35vh;
//     width: 100vw;
//     object-fit: cover;
//     border-top-left-radius: unset;
//     border-bottom-left-radius: 100% 80%;
//     border-bottom-right-radius: 100% 80%;
//   }
// }
