@import "../../../../styles/colors.scss";

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  border-radius: 30px;
  font-size: 14px;
  height: 40px;
  text-transform: none;

  &.primary {
    background-color: $primaryButton;
  }
  &.outlined {
    background-color: transparent;
    border: solid 1px $primaryButton;
    color: $primaryButton;
  }
}

.editButton {
  color: $link;
  cursor: pointer;

  .actionText {
    color: $link;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    text-transform: none;
  }
}
