.itemContainer {
  background: #ffffff;
  /* Elevation 1 (List,Section,alert) */
  place-content: space-between;
  grid-template-columns: 388px 100px 598px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  padding: 16px;
  width: 100%;

  @media only screen and (min-device-width: 759px) and (max-device-width: 930px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 759px) and (max-device-width: 930px) and (orientation: portrait) {
    width: auto;
    grid-template-columns: 29% 10% 47%;
    place-content: unset;
  }

  @media only screen and (min-device-width: 930px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 930px) and (max-device-width: 1024px) and (orientation: portrait),
    screen and (min-width: 930px) and (max-width: 1024px) {
    width: auto;
    grid-template-columns: 29% 10% 50%;
    place-content: unset;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
    width: auto;
    grid-template-columns: 25% 10% 55%;
    place-content: unset;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
    width: auto;
    grid-template-columns: 31% 15% 52%;
    place-content: unset;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 1024px) and (max-device-width: 1440px) and (orientation: landscape) {
    width: auto;
    grid-template-columns: 31% 15% 52%;
    place-content: unset;
  }
}

.locationContent {
  display: block;

  @media only screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait),
    screen and (min-width: 930px) and (max-width: 1024px) {
    display: block;
    position: absolute;
    left: 17%;
  }
}

.stackContainer {
  background: #ffffff;
  padding: 16px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.18);
  border-radius: 0px 0px 4px 4px;
}
