@import "../../../../styles/colors.scss";

.issuedCardContainer {
  border: 1px dashed #6c6c6c;
  padding: 4px;
  max-height: 183px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin: 4px;
  }
  .labelForm {
    margin-bottom: 16px;
  }
}

.labelForm {
  font-weight: 700;
  font-size: 18px;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  border-radius: 30px;
  font-size: 14px;
  height: 40px;
  width: 100%;
  text-transform: none;

  &.primary {
    background-color: $primaryButton !important;
    border-radius: 30px;
    text-transform: none;
  }
  &.outlined {
    background-color: transparent !important;
    border: solid 1px $primaryButton;
    color: $primaryButton;
    border-radius: 30px;
    text-transform: none;
  }
}

.editButton {
  color: $link;
  cursor: pointer;

  .actionText {
    color: $link;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    text-transform: none;
  }
}
