.shortBio {
  display: flex;
  width: 942px;
  margin-left: 12vw;
  padding: 16px 0 32px 0;

  @media (max-width: 600px) {
    width: auto;
    max-width: 552px;
    flex-direction: column;
    margin: unset;
    padding: 16px 16px 0;
  }

  @media (min-width: 600px) and (max-width: 1200px) {
    width: auto;
    margin-left: 16px;
    max-width: unset;
  }
}

.appointment {
  display: flex;
  width: auto;
  // max-width: 368px;
}

.address {
  color: #003b4a;
  letter-spacing: 0.0016em;
  width: 270px;
  font-family: "Libre Franklin", sans-serif !important;

  @media (max-width: 600px) {
    width: auto;
    font-size: 14px !important;
  }

  @media (min-width: 600px) and (max-width: 1200px) {
    width: auto;
  }

  @media only screen and (min-device-width: 750px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 750px) and (max-device-width: 1024px) and (orientation: portrait),
    screen and (min-width: 930px) and (max-width: 1024px) {
    width: 130px;
  }
}

.specialistTitle {
  font-weight: 700 !important;
  font-size: 16px !important;
  width: auto;
  @media (max-width: 600px) {
    margin-bottom: 12px;
    margin-top: 8px;
  }
}

.specialistList {
  column-count: 2;
  margin-block-start: 4px;
  padding-inline-start: 25px;
}

.newColumn {
  break-before: column;
}

.specialistTitle > li {
  width: 170px;
}

.profilePhoto {
  border-radius: 90px;
}

.displayFlex {
  display: flex;

  &.viewSchedule {
    @media only screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait),
      screen and (min-width: 930px) and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.bioContainer {
  margin-left: 12px;
  margin-right: 25px;

  @media (max-width: 600px) {
    width: auto;
    margin-right: unset;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.shortBio h2 {
  font-style: normal;
  font-size: 32px;
  @media (max-width: 600px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  @media only screen and (min-device-width: 759px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 759px) and (max-device-width: 834px) and (orientation: portrait) {
    font-size: 24px;
  }

  @media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) {
    font-size: 24px;
  }
}

.appointment h2.doctorNameViewSchedule {
  font-weight: 700;
  line-height: 28px !important;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #003b4a;
  text-decoration: underline;

  @media only screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait),
    screen and (min-width: 930px) and (max-width: 1024px) {
    flex-direction: column;
    width: 130px;
  }

  @media (max-width: 992px) {
    font-size: 18px;
  }
}

.appointment h2.doctorNameAppointment {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  line-height: 28px !important;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #003b4a;
  text-decoration: none;
  @media (max-width: 992px) {
    font-size: 18px;
  }
}
.doctorName {
  color: #003b4a;
}
.appointment h2.doctorMap {
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  color: #003b4a;
}

.bioContainer h3 {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #003b4a;
}

.ratingContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 1024px) {
    margin-top: 12px;
  }
}

.phoneContainer {
  margin-top: 5px;
}

.specialistList > li > p {
  width: 200px;
  line-height: 24px;
  @media (max-width: 600px) {
    width: unset;
  }
}

.specialistList > li::marker {
  font-size: 14px;
}

.starRating {
  margin-top: 15px;
  margin-bottom: 15px;
}

.detailContainer {
  display: flex;
  margin-top: 10px;
  @media (max-width: 600px) {
    flex-direction: column;
    flex: 1;
  }
  &.viewSchedule {
    @media only screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait),
      screen and (min-width: 930px) and (max-width: 1024px) {
      flex-direction: column;
      width: 130px;
    }
  }
}

.imageContainer {
  width: 90px;
  margin-right: 10px;
  @media (max-width: 600px) {
    width: 70px;
  }
}

.imageContainerMedium {
  width: 65px;
  // margin-right: 10px;
}

.imageContainerSmall {
  width: 48px;
  margin-right: 10px;
}

.phone {
  color: #424747;
  letter-spacing: 0.0016em;

  @media (max-width: 992px) {
    font-size: 14px;
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-device-width: 375px) and (max-device-width: 812px) {
    text-decoration: underline;
    text-decoration-color: #424747;
  }
}
