.shortBio {
  display: flex;
  width: 942px;
  margin-left: 12vw;
  padding: 16px 0 32px 0;

  @media (max-width: 992px) {
    width: auto;
    max-width: 552px;
    flex-direction: column;
    margin: unset;
    padding: 16px 16px 0;
  }
}

.appointment {
  display: flex;
  width: auto;
  // max-width: 368px;
}

.address {
  color: #003b4a;
  letter-spacing: 0.0016em;
  width: 362px;

  @media (max-width: 992px) {
    width: auto;
    font-size: 14px !important;
  }
}

.phone {
  color: #424747;
  letter-spacing: 0.0016em;

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.specialistTitle {
  font-weight: 700 !important;
  font-size: 16px !important;
  @media (max-width: 992px) {
    margin-bottom: 12px;
    margin-top: 8px;
  }
}

.specialistList {
  column-count: 2;
  margin-block-start: 4px;
  padding-inline-start: 25px;
}

.newColumn {
  break-before: column;
}

.specialistTitle > li {
  width: 170px;
}

.profilePhoto {
  border-radius: 90px;
}

.displayFlex {
  display: flex;
}

.bioContainer {
  margin-left: 12px;
  margin-right: 25px;

  @media (max-width: 992px) {
    width: auto;
    margin-right: unset;
  }
}

.shortBio h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  @media (max-width: 992px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}

.appointment h2.doctorNameViewSchedule {
  font-weight: 700;
  line-height: 28px !important;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #003b4a;
  text-decoration: underline;
  @media (max-width: 992px) {
    font-size: 18px;
  }
}

.appointment h2.doctorNameAppointment {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  line-height: 28px !important;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #003b4a;
  text-decoration: none;
  @media (max-width: 992px) {
    font-size: 18px;
  }
}

.appointment h2.doctorMap {
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  color: #003b4a;
}

.bioContainer h3 {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #003b4a;
}

.ratingContainer {
  margin-top: 50px;
  @media (max-width: 992px) {
    margin-top: 12px;
  }

  .phoneLink {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0016em;
    color: #008294 !important;
    text-decoration-color: inherit !important;
  }
}

.phoneContainer {
  margin-top: 5px;
  .phoneLink {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0016em;
    color: #008294 !important;
    text-decoration-color: inherit !important;
  }
}

.specialistList > li > p {
  width: 200px;
  line-height: 24px;
  @media (max-width: 992px) {
    width: unset;
  }
}

.specialistList > li::marker {
  font-size: 14px;
}

.starRating {
  margin-top: 15px;
  margin-bottom: 15px;
}

.detailContainer {
  display: flex;
  margin-top: 10px;
  @media (max-width: 992px) {
    flex-direction: column;
    width: 198px;
  }
}

.imageContainer {
  width: 100px;
  margin-right: 10px;
  @media (max-width: 992px) {
    width: 70px;
  }
}

.imageContainerMedium {
  width: 65px;
  margin-right: 10px;
}

.imageContainerSmall {
  width: 48px;
  margin-right: 10px;
}
