.sidebarLink {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  gap: 10px;

  @media (min-width: 601px) and (max-width: 900px) {
    width: 100%;
    width: -webkit-fill-available;
  }
}
