.titleHeadingWrapper {
  width: 100%;
  padding: 24px;
  gap: 10px;
  background: linear-gradient(96.59deg, #003b4a 10.15%, #0389ab 140.82%);
  z-index: 2;

  @media (max-width: 600px) {
    padding: 0px 6px;
  }

  .title {
    font-family: "Museo Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: #fdfaf9;
    flex-direction: row;
    align-items: center;
    max-width: 1536px;
    padding: 0 24px;
    margin: auto;
    width: 100%;

    @media (max-width: 767px) {
      font-style: normal;
      font-size: 18px;
      line-height: 26px;
      justify-self: unset;
      padding: 16px 10px;
    }
  }
}
