.titleHeadingWrapper {
  position: fixed;
  width: 100%;
  padding: 24px 10px;
  gap: 10px;
  background: linear-gradient(96.59deg, #003b4a 10.15%, #0389ab 140.82%);
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  z-index: 2;

  @media (max-width: 767px) {
    padding: 12px 6px;
  }

  .title {
    /* ECP/Desktop/Headline/H3 */

    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height, or 123% */

    /* ECP/Peach-25- */
    color: #fdfaf9;

    flex-direction: row;
    align-items: center;
    grid-column: span 2 / span 2;
    text-align: right;

    @media (max-width: 767px) {
      grid-column: span 7 / span 7;
      text-align: center;
      font-size: 18px;
    }
  }
}
