.accessCodeContainer {
  display: flex;
  flex-direction: column;
  max-width: 725px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  top: 35px;
  padding: 25px;
  gap: 16px;
}

.validationContainer {
  display: flex;
  flex-direction: column;
  max-width: 725px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  top: 35px;
  padding: 25px;
}
