.formMessageText {
  font-size: 14px;
  color: white !important;
  font-weight: 400;
  align-self: center;
}

.closeImage {
  font-size: 28px;
  color: #fff;
  position: absolute;
  right: 11px;
  top: 18%;
}

.containerForm {
  .containerItem {
    @media (max-width: 600px) {
      width: auto;
    }
    .containerLeft {
      @media (max-width: 600px) {
        padding: 0;
      }
    }
    .containerRight {
      @media (max-width: 600px) {
        padding: 0;
      }
    }
  }
}
