.distanceLabelWarpper {
  .distanceLabel {
    width: fit-content;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: right;
    /* Primary Palette/$ds-black */
    color: #232325;
    margin-left: 10px;
  }
}

.directionButton {
  @media only screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    position: absolute;
    margin-top: 85%;
    left: 17%;
  }
}
