.buttonWrapper {
  .scheduleBtn {
    width: 90px;
    height: 30px;
    padding: 13px 0px;
    background: #007e8f;
    border-radius: 30px;
    margin-top: 8px;
    .scheduleBtnLabel {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: "Libre Franklin", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }

    @media only screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      width: 75px;
    }
  }
}
.linkWrapper {
  .linkAvailabelity {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    letter-spacing: 0.0016em;
    text-decoration-line: underline;
    text-transform: none;

    /* ECP/Controls/Button/Text */

    color: #007e8f;
    cursor: pointer;
  }
}

.divider {
  width: 37px;
}

.dividerContainer {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  padding-right: 15%;

  @media only screen and (min-device-width: 759px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    padding-right: 0px;
    width: 85px;
  }
}

.weeklyScheduleContent {
  width: 598px;
  gap: 8px;

  @media only screen and (min-device-width: 759px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    width: auto;
    gap: 0px;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    width: 598px;
    gap: 8px;
  }

  @media only screen and (min-device-width: 1112px) and (max-device-width: 759px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    width: auto;
    gap: 2px;
  }

  @media only screen and (min-device-width: 1112px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    width: auto;
  }
}
