.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 4px;
  height: 100%;
  font-family: "Museo Sans", sans-serif;
  background-color: #f4f4f4;
}

.sidebarLinkWrapper {
  padding: 40px 16px 40px 24px;
  // margin-left: 240px;

  @media (max-width: 1536px) {
    width: 100%;
  }
  @media (min-width: 1535px) {
    // margin-left: auto;
    width: fit-content;
  }
}

.sidebarLink {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  gap: 10px;

  // width: 324px;
  // height: 46px;
}
