.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 4px;
  height: 100%;
  font-family: "Libre Franklin", sans-serif;
  background-color: #f4f4f4;
}

.sidebarLinkWrapper {
  padding: 40px 16px 40px 24px;
  width: 100%;
  margin-left: auto;
}

.sidebarLink {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  gap: 10px;

  // width: 324px;
  // height: 46px;
}
