.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px 16px;
  border-radius: 4px;
  height: 100%;
}

.sidebarLink {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0016em;
  color: #292929;
}
