@import "../../../../styles/colors.scss";

.filterContainer {
  width: 1128px;

  &.isTablet {
    width: 100%;
  }
}

.filterButtonContainer {
  display: flex;

  .filterButton {
    width: 148px;
    height: 30px;
    border: 1px solid #205a63;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    justify-content: left;
    padding: 3px 16px;
  }
}

.filterChildButton {
  background: #ffffff;
  border: 1px solid #003b4a;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 4px 3px 10px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6d6f73;
  height: 30px;
  margin-bottom: 10px;
  .closeIcon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
}

.tuneIcon {
  color: $iconBlack;
}

.keydownIcon {
  position: absolute;
  left: 72%;
  color: rgba(0, 0, 0, 0.54);
}

.filterFoundWarpper {
  .filterFound {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $darkGreen;
  }
}

.calenderDayWarpper {
  .calenderDay {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: $darkGreen;
    text-transform: capitalize;
  }
  .calenderMonth {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: $darkGreen;
    text-transform: capitalize;
  }
}

.mobileFilterContainer {
  width: 100%;

  .titleContainer {
    position: relative;
    background: linear-gradient(96.59deg, #003b4a 10.15%, #0389ab 140.82%);

    @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      justify-content: flex-start;
      padding-top: 30px;
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      justify-content: flex-start;
      padding-top: 30px;
    }
  }
  .subtitleContainer {
    margin-bottom: 30px;
  }
  .titleElement {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
  }
  .subtitleElement {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.0016em;
    margin-top: 8px;
    color: #ffffff;
  }
  .stackFilterContainer {
    height: 56px;
    background: #fff;
    border-radius: 47px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 18%);
    position: absolute;
    width: 94%;
    top: 84%;

    @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      top: 53%;
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      top: 53%;
    }
  }
  .mobileFilterStyle {
    height: 56px;
    background: #fff;
    border: 1px solid $teal;
    border-radius: 47px;
  }

  @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    height: 196px !important;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    height: 196px !important;
  }
}

.mobileFilterTitle {
  color: #193138;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-device-width: 375px) and (max-device-width: 812px) {
    display: block;
    line-height: 15px;
  }
}

.renderSubFilter{
  max-width: 95%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobileFilterSubtitle {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $lightGrey;
}

.mobileFilterTitleContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  .mobileFilterButton {
    padding: 0;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    color: #898989;
  }
}
.mobileFilterImageContainer {
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: 14px;
  display: flex;
}

.dateListContainer {
  .prevArrowActive {
    color: rgba(0, 0, 0, 0.54);
    opacity: 1;
  }
  .prevArrowDisable {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.54);
    opacity: 0.5;
  }
}

.mobileFilterStyles {
  font-family: "Libre Franklin", sans-serif !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: $lightGrey;

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-device-width: 375px) and (max-device-width: 812px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
  }

  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
    screen and (device-width: 414px) and (device-height: 896px) {
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    margin-bottom: 2px;
  }

  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2),
    screen and (device-width: 375px) and (device-height: 667px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3px;
    line-height: normal;
  }
}

.filterHeaderCalendar {
  grid-template-columns: 490px 638px;

  @media only screen and (min-device-width: 759px) and (max-device-width: 930px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 759px) and (max-device-width: 930px) and (orientation: portrait) {
    grid-template-columns: 20% 72.5% !important;
    padding-right: 15px;
  }

  @media only screen and (min-device-width: 930px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 930px) and (max-device-width: 1024px) and (orientation: portrait),
    screen and (min-width: 930px) and (max-width: 1024px) {
    grid-template-columns: 20% 69% !important;
    padding-right: 15px;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
    grid-template-columns: 20% 65% !important;
    padding-right: 15px;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 1024px) and (max-device-width: 1440px) and (orientation: landscape) {
    grid-template-columns: 20% 55% !important;
    padding-right: 15px;
  }
}

.calendarHeading {
  gap: 8px;

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
    gap: 15px;
  }
}
