.tableCell {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
}
