$darkGreen: #003b4a;
$darkGreen75: #205a63;
$darkGreen50: #366a70;
$darkGreen25: #507a7d;
$green: #168845;
$teal: #0095a9; //'#E5EDF8';
$teal75: #3eafbd;
$teal50: #7fcad3;
$teal25: #bfe4e8;
$peach: #f2eae6;
$peach75: #f2eae6;
$peach50: #f9f5f3;
$peach25: #fdfaf9;
$grey: #191919;
$grey75: #080707;
$black: #242526;
$foundationGreen: #04844b;
$foundationRed: #c23934;
$foundationBlue: #0e1941;
$foundationGrey: #6b7789;
$link: #008294;
$primaryButton: #007e8f;
$errorField: #f91e18;
$errorTextField: #f0c8c7;
$iconBlack: #22292f;
$lightGrey: #898989;
