html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//Handle Custom Popper for FilterHeading Component Mobile view
.MuiAutocomplete-popper {
  &.filter-heading-mobile {
    width: 92% !important;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    top: 12px !important;
    left: -15px !important;
    right: auto;
    bottom: auto;

    .MuiAutocomplete-listbox {
      max-height: none;
    }
  }
}

.MuiDialog-container {
  .MuiPaper-root {
    max-width: none;
  }
}

// google-maps info-window css
.gm-style-iw {
  .gm-style-iw-d {
    max-height: 300px !important;
  }
}
.gm-ui-hover-effect {
  display: none !important;
}
.gm-style .gm-style-iw-c {
  @media (max-width: 768px) {
    max-width: unset !important;
  }
}

//Hide show password button of Edge browser
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

// truncating for x-line
.clipped {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  position: relative;
  text-overflow: ellipsis;
  padding: 0 !important;

  &::after {
    content: "...";
    text-align: right;
    bottom: 0;
    right: 0;
    width: 25%;
    display: block;
    position: absolute;
    height: calc(1em * 1.5);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 75%
    );
  }

  &.clip-1 {
    -webkit-line-clamp: 1;
    max-height: calc(1em * 1.5 * 1);
  }

  &.clip-2 {
    -webkit-line-clamp: 2;
    max-height: calc(1em * 1.5 * 2);
  }

  &.clip-3 {
    -webkit-line-clamp: 3;
    max-height: calc(1em * 1.5 * 3);
  }

  &.clip-4 {
    -webkit-line-clamp: 4;
    max-height: calc(1em * 1.5 * 4);
  }

  &.clip-5 {
    -webkit-line-clamp: 5;
    max-height: calc(1em * 1.5 * 5);
  }
}
@supports (-webkit-line-clamp: 1) {
  .clipped::after {
    display: none !important;
  }
}

#atcb-bgoverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1301;
}

.atcb-list {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 50vh auto auto;
  padding: 16px;
  border-radius: 10px;
  gap: 10px;

  @media (max-width: 992px) {
    max-width: 310px;
    flex-wrap: wrap;
    margin: 40vh auto auto;
    flex: 1;
  }
}

.atcb-icon {
  display: flex;
  justify-content: center;
  svg {
    height: 48px;
    width: auto;
  }
}

.atcb-icon-close {
  height: 48px;
  display: flex;
  align-items: center;
  svg {
    height: 32px;
  }
}

.atcb-list-item {
  display: flex;
  flex-direction: column;
  width: 85px;
  cursor: pointer;
}

.atcb-text {
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: Libre Franklin, sans-serif;
  color: #292929;
}

.atcb-icon .atcb-icon-yahoo svg {
  fill: #5f01d1;
}

.atcb-icon .atcb-icon-ms365 svg {
  fill: #ea3e23;
}

.slickContainer {
  // react slick css
  .slick-prev {
    left: -45px;
  }

  .slick-next {
    right: -45px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #003b4a;
    font-size: 30px;
    opacity: 1;
  }

  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
  }

  .slick-prev,
  .slick-next {
    width: 32px !important;
    height: 32px !important;
  }
}

.MuiPopover-root {
  ul.MuiList-root {
    max-height: 300px;
    box-shadow: none;
  }
}
